<a href="https://colab.research.google.com/github/sarahrdk/EscapeEarth/blob/main/Interns/Sarah/DownloadData_Team_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install lightkurve

In [3]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [17]:
import lightkurve as lk

In [8]:
data = pd.read_csv('/content/gdrive/My Drive/EscapeEarthData/all_targets_S014_v1.csv', skiprows = 5)

In [9]:
data.head()

     TICID   Camera   CCD   Tmag        RA      Dec
0  7582594        2     3   8.57  272.3966  45.8308
1  7582633        2     3   9.92  272.3288  45.9244
2  7582634        2     3  10.48  272.3307  45.9255
3  7583285        2     2  11.30  272.3711  47.2259
4  7584049        2     2   8.50  272.5282  47.0887

In [35]:
first = data["TICID"]

In [13]:
for i in first:
  print(i)

7582594
7582633
7582634
7583285
7584049

In [25]:
lc = lk.search_lightcurvefile('TIC 7582594', sector = 14).download()

In [26]:
print(lc)

TessLightCurveFile(TICID: 7582594)

In [31]:
print(type(first))

<class 'method'>

In [40]:
first2 = first.to_numpy()[0:5]

In [42]:
for i in first2:
  lc2 = lk.search_lightcurvefile('TIC {}'.format(i), sector = 14).download()
  lc3 = lc2.PDCSAP_FLUX
  print(lc3)

TessLightCurve(TICID: 7582594)
TessLightCurve(TICID: 7582633)
TessLightCurve(TICID: 7582634)
TessLightCurve(TICID: 7583285)
TessLightCurve(TICID: 7584049)